---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=sennheiser*)?apiKey=zvkqfuc5vws6ytvedk2qwf4n&format=json&pageSize=15&show=name,customerReviewAverage,shortDescription,salePrice,image,sku&sort=name.asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 127,
          "currentPage": 1,
          "totalPages": 9,
          "queryTime": "0.005",
          "totalTime": "0.038",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\")?show=name,customerReviewAverage,shortDescription,salePrice,image,sku&format=json&apiKey=zvkqfuc5vws6ytvedk2qwf4n",
          "products": [
            {
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "customerReviewAverage": null,
              "shortDescription": "SENNHEISER Camera-Mount Wireless Microphone System: Invisible clip-on microphone; sturdy metal housing; automatic frequency management; easy-to-read illuminated display; 4-level battery indicator; 626-668MHz frequency range",
              "salePrice": 629.95,
              "image": "http://img.bbystatic.com/BestBuy_US/images/products/9678/9678429_sa.jpg",
              "sku": 9678429
            },
            {
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "customerReviewAverage": null,
              "shortDescription": "SENNHEISER Camera-Mount Wireless Microphone System: Invisible clip-on microphone; sturdy metal housing; automatic frequency management; easy-to-read illuminated display; 4-level battery indicator; 566-608MHz frequency range",
              "salePrice": 629.95,
              "image": "http://img.[...]
