---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products((search=sennheiser))?apiKey=zvkqfuc5vws6ytvedk2qwf4n&format=json&pageSize=15&show=name,customerReviewAverage,shortDescription,salePrice,image,sku&sort=name.asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 160,
          "currentPage": 1,
          "totalPages": 11,
          "queryTime": "0.003",
          "totalTime": "0.022",
          "partial": false,
          "canonicalUrl": "/v1/products((search=\"sennheiser\"))?show=name,customerReviewAverage,shortDescription,salePrice,image,sku&format=json&apiKey=zvkqfuc5vws6ytvedk2qwf4n",
          "products": [
            {
              "name": "Galaxy Audio - Headset Microphone - Beige",
              "customerReviewAverage": null,
              "shortDescription": "GALAXY AUDIO Headset Microphone: Crafted for most wireless transmitters; can be used with a JIB/PB; works with most PC sound cards; flexible fit design",
              "salePrice": 199.99,
              "image": "http://img.bbystatic.com/BestBuy_US/images/products/4763/4763330_sa.jpg",
              "sku": 4763330
            },
            {
              "name": "Galaxy Audio - Headset Microphone - Black",
              "customerReviewAverage": null,
              "shortDescription": "GALAXY AUDIO Headset Microphone: Compatible with most wireless transmitters; can be used with a JIB/PB; works with most PC sound cards; flexible fit design",
              "salePrice": 199.99,
              "image": "http://img.bbystatic.com/BestBuy_US/images/products/4763/4763305_sa.jpg",
              "sku": 476[...]
